.onlyFive {
    border-radius: 20px;
    color: darkgreen;
    background-color: lightgreen;
    width: 40px;
    transition: all;
    transition-duration: 0.5s;
}

.onlyFive:hover {
    border-radius: 1px;
    width: 70px;
}

.mat-progress-spinner {
    margin-left: auto;
    margin-right: auto;
}